<launch>
  <arg name="map_file" default="/home/mkac/tmp/ros/maps/mkhc_new_rot" />

  <node pkg="mrpt_localization" type="mrpt_localization_node" name="mrpt_localization_node"
  output="screen">
    <param name="ini_file" value="$(find amr_navigation)/launch/pf-localization.ini" />
    <param name="map_file" value="$(arg map_file).gridmap" />
    <param name="odom_frame_id" value="odom" />
    <param name="global_frame_id" value="map" />
    <param name="base_frame_id" value="base_link" />
    <param name="map_update_skip" value="20" />
    <param name="particlecloud_update_skip" value="1" />
    <param name="tf_prefix" value="" />
    <param name="debug" value="true" />
    <param name="gui_mrpt" value="false" />
    <param name="sensor_sources" value="/scan_map" />
    <!-- <param name="update_while_stopped" value="false"/> -->
    <!-- <remap from="particlecloud" to="r1/particlecloud"/> -->
  </node>
</launch>