<launch>

    <!-- <param name="detection_node/dock_filepath" value="$(find docking)/pcd/simulation.pcd"/> -->
    <!-- <param name="dock_filepath" value="$(find docking)/pcd/simulation.pcd"/> -->
    <arg name="scanner" default="lms"/>
    <!-- <arg name="scanner" default="turtlebot"/> -->

    <!-- Use this package: http://wiki.ros.org/laser_filters -->

    <!-- Filter scan_map -->
		<node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter_dock">
		<remap from="scan_filtered" to="scan_map_dock_filtered"/>
		<remap from="scan" to="scan_map"/> 
        <rosparam command="load" file="$(find docking)/config/laser_filter/mkac_laser_filter_$(arg scanner).yaml"/>
    </node>

    <!-- Filter scan_1 -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter_dock">
		<remap from="scan_filtered" to="scan_1_dock_filtered"/>
		<remap from="scan" to="scan_1"/> 
        <rosparam command="load" file="$(find docking)/config/laser_filter/mkac_laser_filter_$(arg scanner).yaml"/>
    </node>

    <!-- Filter scan_2 -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter_dock">
		<remap from="scan_filtered" to="scan_2_dock_filtered"/>
		<remap from="scan" to="scan_2"/> 
        <rosparam command="load" file="$(find docking)/config/laser_filter/mkac_laser_filter_$(arg scanner).yaml"/>
    </node>

    <!-- use this package: http://wiki.ros.org/pointcloud_to_laserscan -->
    <!-- change scan_map to pointcloud -->
    <node pkg="pointcloud_to_laserscan" type="laserscan_to_pointcloud_node" name="laserscan_to_pointcloud">
        <remap from="scan_in" to="scan_map_dock_filtered"/>
        <remap from="cloud" to="cloud_map"/>
    </node>

    <!-- change scan_2 to pointcloud -->
    <node pkg="pointcloud_to_laserscan" type="laserscan_to_pointcloud_node" name="laserscan_to_pointcloud">
        <remap from="scan_in" to="scan_2_dock_filtered"/>
        <remap from="cloud" to="cloud_2"/>
    </node>

    <!-- change scan_1 to pointcloud -->
    <node pkg="pointcloud_to_laserscan" type="laserscan_to_pointcloud_node" name="laserscan_to_pointcloud">
        <remap from="scan_in" to="scan_1_dock_filtered"/>
        <remap from="cloud" to="cloud_1"/>
    </node>

    <!-- <node pkg="docking" type="detection_node" name="detection_node" output="screen" respawn="false" clear_params="true" >
		<rosparam file="$(find docking)/config/detection_params.yaml"/> -->
		<!-- Overwrite dock_filepath in yaml file -->
		<!-- <param name="dock_filepath" value="$(find docking)/pcd/mkhc_vl_marking.pcd"/>
    </node> -->
	<node pkg="docking" type="detection_node" name="detection_node" output="screen" respawn="false" clear_params="true" >
		<rosparam file="$(find docking)/config/vl_marker.yaml" />
	</node>
</launch>